### input and output methods
- reading dat or information from the user----***input()***
   - static input
   - dynamical input
- dispayinmg the information or data to the user----***print()***

In [3]:
a=10;
b=20;
print(a)
print(b)

10
20

In [ ]:
a=input()
a

In [1]:
a=input("enter user value")
a

enter user value32

'32'

In [2]:
a=float(input("enter user value"))
print(a)

enter user value23
23.0

In [4]:
a=input("enter value")
print(a)

enter value42
42

In [5]:
a=20
b=30
c=50
print(a,b,c)
print(c)

20 30 50
50

In [6]:
a=input("enter value")
print(a)

enter value62
62

In [7]:
a=20
b=30
c=50
print(a,b,c)
print(c)

20 30 50
50

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [9]:
a=20
b=30
c=50
print(a,b,c,sep=",")
print(c)

20,30,50
50

In [5]:
## generate the three values from the user that values seperate
a=input("enter first value")
b=input("enter second value")
c=input("enter three value")
print(a,b,c,sep="$",end="%")

enter first value23
enter second value25
enter three value32
23$25$32%

##### operators
  - output for the normal divison is quotient
  - output for the int division or floor divisin is
  - integer part of the qoutient
  - output for the module
- arthemetic operators(+,-,*,**,/,//,%)
- assignment operators(=)
- comparisin operators(<,>,<=,>=,==)
- logical operators(and,or,not)
- bitwise operators(&,|,^)
- identity operators(id (==,isnot(!=)
- membership operator(in,notin)

### arthemetic operators

In [2]:
a=56
b=32
print("addition",a+b)
print("subtraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("division",a/b)
print("int division or floor division",a//b)
print("modulo division",a%b)

addition 88
subtraction 24
multiplication 1792
power 87501775260248338795649138639242377629452267851964481536
division 1.75
int division or floor division 1
modulo division 24

### Assignment operator
- it represented with =
- left side value of the operator(=) is called as a variable
- right side value of the variable(=) is called as a value

In [3]:
a=32
b=23
print(a)
print(b)

32
23

### comparision operator

In [5]:
2>5

False

In [4]:
2<6

True

In [10]:
if 2>9 and 2<=6
  print("print true or false")
else
  print("gfhf")

SyntaxError: invalid syntax (Temp/ipykernel_4120/4022175759.py, line 1)

In [11]:
2>=7

False

In [12]:
3<=5

True

### logical operators
- and,or,not
- if all yhe inputs are true the output is true(and).
- if any of the input is tre the output is true(or),
- opposute operation for the given one

In [13]:
2<5 and 3>6

False

In [14]:
2<5 and 3<6

True

In [15]:
3<9 and 4>0

True

In [16]:
4<8 or 5>2

True

In [17]:
5>9 or 8<3

False

In [18]:
a=100
not a

False

### bitwise operator

In [19]:
2&3
# 2- 0 0 1 0
# 3- 0 0 1 1
# --------------
# - 0 0 1 0

2

In [20]:
3|4

7

In [21]:
2^3

1

In [25]:
2>>3

0

2<<3

In [24]:
2<<3

16

### Identity operator

In [26]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Online\AppData\Local\Temp/ipykernel_4120/1988167162.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\Online\AppData\Local\Temp/ipykernel_4120/1988167162.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [28]:
a==100 and a!=100

False

### Membership operator

In [29]:
s=[1,2,3,4,5,6,8,9]
4 in s

True

In [30]:
10 not in s

True

In [31]:
3 not in s

False

In [32]:
2 not in s

False

In [33]:
a=20
a=a+1
a

21

In [35]:
a=45
a+=1 ----->a=a+1
a-=1 ----->a=a-1
a*=1 ----->a=a*1
a/=1 ----->a=a/1

SyntaxError: invalid syntax (Temp/ipykernel_4120/2135942089.py, line 2)

In [36]:
a

46

### Flow control
- conditional statements(if,else,elseif,nestedif)
- loops(for,while)
- break,return

In [ ]:
# c-language
if(condition){
    print(a)
}

### conditional statements

In [ ]:
#if
if(condition):
    statement1
    statement2
    statement3
     ----------
    statementn

In [ ]:
#if-else
if(condition):
    statement1
    statement2
    statement3
     ----------
    statementn
else:
    statement1
    statement2
    ----------
    statementn

In [ ]:
if 2>3:
    print("true")
    print("false")

In [6]:
if 2>3:
    print("true")
else:
    print("false")

false

In [9]:
# given number is even or odd
n=int(input("enter the number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter the number32
even number

In [11]:
# given number is zero or positive or negative
n=32
if(n==0):
    print("number is zero")
elif(n>0):
    print("number is positive")
else:
    print("number is negative")

number is positive

In [15]:
#number is divisible by 2 but not 1
if a==2 is 0 and a!=10 is not 0:
    print("correct")
else:
    print("incorrect")

incorrect

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Online\AppData\Local\Temp/ipykernel_4368/2046526485.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a==2 is 0 and a!=10 is not 0:
C:\Users\Online\AppData\Local\Temp/ipykernel_4368/2046526485.py:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if a==2 is 0 and a!=10 is not 0:

In [18]:
#number is divisible by 2 but not 1
if a%2==0 and a%10!=0:
    print("correct number")
else:
    print("incorrect number")

incorrect number

### Range
- syntax for the range is range(start,end value,step value)
- starting value is inclusive and end value is exclusive

In [ ]:
range(start,end,step)

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 23,26,29
range(20,40,5)
# 23,32,36,38
range(50)
# consider as start value
range(20,30)
# consider start value and end value
# reverse print
range(10,1,-1)

In [28]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [27]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [29]:
list(range(20,40,5))

[20, 25, 30, 35]

In [30]:
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [31]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [35]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### Loops
- for,while
- for loop:::A for loop in python is a control flow statements
that is used to
repeatedly execute a group of statements as long as the
condition is satisfied
such a type of statement is also known as an iterative statement
therefore,
a for loop is an iterative statement.

In [ ]:
syntax:::
    for iter in iterable: # range predifined function in the position of iterable
        statement1
        statement1
        statement1

In [6]:
for i in range(5):
     print(i)

0
1
2
3
4

In [9]:
for i in range(5):
    print(i,end=",")

0,1,2,3,4,

In [11]:
for i in range(0,11,2):
    print(i,end="   ")

0   2   4   6   8   10

In [16]:
# print the even numbers in the range of 0 to 100 and print even number count
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")
    print("\neven number count:",c)

0
even number count: 1
2
even number count: 2
4
even number count: 3
6
even number count: 4
8
even number count: 5
10
even number count: 6
12
even number count: 7
14
even number count: 8
16
even number count: 9
18
even number count: 10
20
even number count: 11
22
even number count: 12
24
even number count: 13
26
even number count: 14
28
even number count: 15
30
even number count: 16
32
even number count: 17
34
even number count: 18
36
even number count: 19
38
even number count: 20
40
even number count: 21
42
even number count: 22
44
even number count: 23
46
even number count: 24
48
even number count: 25
50
even number count: 26
52
even number count: 27
54
even number count: 28
56
even number count: 29
58
even number count: 30
60
even number count: 31
62
even number count: 32
64
even number count: 33
66
even number count: 34
68
even number count: 35
70
even number count: 36
72
even number count: 37
74
even number count: 38
76
even number count: 39
78
even number count: 40
80
even number count: 41
82
even number count: 42
84
even number count: 43
86
even number count: 44
88
even number count: 45
90
even number count: 46
92
even number count: 47
94
even number count: 48
96
even number count: 49
98
even number count: 50
100
even number count: 51

In [28]:
# print the even numbers in the range of 0 to 100 and print even number count
c=0
for i in range(0,101):
    if i%2==0:
        c=c+1
    print(i,end=" ")
print("\neven number count:",c)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
even number count: 51

In [26]:
# print leap years from the range of 2000 to 2020,print years
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if (i%400==0) and (i%100!=0) or (i%4==0):
        c=c+1
        print(i,end=" ")
print("\nyears count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
years count: 6

In [32]:
n=5
for i in range(1,11):
    print(n,"*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [36]:
# print factors of s
n=int(input())
for i in range(1,n+1):
    if (n%i==0):
        print(i,end=" ")

10
1 2 5 10

In [40]:
# aba
# 92+98+97=292
#0/p 292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

ABC
198

In [41]:
# check the given number is prime or not
# print factors of s
n=int(input())
c=0
for i in range(1,n+1):
    if (n%i==0):
        c=c+1
if(c==2):
    print("prime number")
else:
    print("not prime number")

3
prime number

In [9]:
# 0-10
# even numbers:
# odd numbers:
list1=[0,1,2,3,4,5,6,7,8,9]
for num in list1:
    if num % 2 != 0:
        print(num,end=" ")

1 3 5 7 9

In [10]:
#0-10
# even numbers:
# odd numbers:
s=int(input())
e=int(input())
print("even numbers are:",end=" ")
for i in range(s,e+1):
    if i%2==0:
        print(i,end=" ")
        #0-10

print("odd numbers are:",end=" ")
for i in range(s,e+1):
    if i%2!=0:
        print(i,end=" ")

0
10
even numbers are: 0 2 4 6 8 10 odd numbers are: 1 3 5 7 9