<h1 style = "color:Red">pandas.DataFrame</h1>



<h2 style = "color:Green">
    
* Two dimensional data structure


* Used to store tabular data --> rows and column with row index and column index 


* Every column can have its own type of data. 


* We can think of it like a spreadsheet or database table.</h2>


![New%20Microsoft%20PowerPoint%20Presentation.png](attachment:New%20Microsoft%20PowerPoint%20Presentation.png)

In [1]:
# Import pandas library
import pandas as pd

<h2 style = "color:Green">DataFrame Creation</h2>

<h3 style = "color:Blue">Creation of Empty DataFrame</h3>

* Dataframe object canbe created by using a calss **pandas.DataFrame()**.

In [2]:
tb=pd.DataFrame()
print(tb)
print(type(tb))

Empty DataFrame
Columns: []
Index: []
<class 'pandas.core.frame.DataFrame'>

<h3 style = "color:Blue">Creation of DataFrame from dictionary of lists</h3>

####  Here each item(key:value pair) wiil be a column in the dataframe

In [3]:
tb={"Name":["Sai","Sony","Pavan","Bhaskar"],"Age":[20,21,21,21],"percentage":[100,99.7,90.9,62.3]}
print(tb)

{'Name': ['Sai', 'Sony', 'Pavan', 'Bhaskar'], 'Age': [20, 21, 21, 21], 'percentage': [100, 99.7, 90.9, 62.3]}

In [8]:
bt=pd.DataFrame(tb)
print(bt)

      Name  Age  percentage
0      Sai   20       100.0
1     Sony   21        99.7
2    Pavan   21        90.9
3  Bhaskar   21        62.3

<h3 style = "color:Blue">Creation of DataFrame from list of dictionaries</h3>

#### Each dictionary in the list will become a row in the dataframe

In [9]:
l1=[{"Name":"Sai","Age":20,"percentage":100},{"Name":"Sony","Age":21,"percentage":99.7},{"Name":"Pavan","Age":21,"percentage":90.9},{"Name":"Bhaskar","Age":21,"percentage":62.3}]
print(l1)

[{'Name': 'Sai', 'Age': 20, 'percentage': 100}, {'Name': 'Sony', 'Age': 21, 'percentage': 99.7}, {'Name': 'Pavan', 'Age': 21, 'percentage': 90.9}, {'Name': 'Bhaskar', 'Age': 21, 'percentage': 62.3}]

<h3 style = "color:Blue">Creation of a DataFrame from list of lists</h3>

#### Each inner list will be a row in the dataframe

#### We can assign row indices and column names while creating a dataframe with index and columns attributes

In [10]:
tb=[["Sony",21,99.7],["Sai",20,100],["Bhaskar",21,62.3]]
print(tb)

[['Sony', 21, 99.7], ['Sai', 20, 100], ['Bhaskar', 21, 62.3]]

In [12]:
d3=pd.DataFrame(tb)
print(d3)

         0   1      2
0     Sony  21   99.7
1      Sai  20  100.0
2  Bhaskar  21   62.3

In [13]:
# Change the labels for rows and columns
d4.index=["r1","r2","r3"]
d4.columns=["Nmae","Age","Percentage"]
print(d4)

       Nmae  Age  Percentage
r1     Sony   21        99.7
r2      Sai   20       100.0
r3  Bhaskar   21        62.3

<h2 style = "color:Green">Working with CSV/Excel files</h2>


* CSV --> Comma Separated Values

<h3 style = "color:Blue">Importing CSV file to a DataFrame</h3>



* **pandas.read_csv(path)**: Function to create a DataFrame from a csv file.

* Note: In windows system, represent path as a raw string to supress its escape functionality

In [17]:
import pandas as pd

* **pandas.read_csv(path, names = [list_of_column_names])** : names keyword argument can be used when file is not having header.

<h3 style = "color:Blue">Exporting DataFrame to a CSV file</h3>


* **pandas.DataFrame.to_csv(path)**: Copies the contents with row index to a csv file specified by path.


* **pandas.DataFrame.to_csv(path, index = False)**: Copies the contents without row index to a csv file specified by path.

<h3 style = "color:Blue">Working with Excel</h3>



* **pandas.read_excel(path)**: Function to create a DataFrame from an excel file.
* **pandas.to_excel(path)**: Function to save a DataFrame to a excel file.